[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-roamlinks-plugin = "*"
rich = "*"

[dev-packages]

[scripts]
start = "mkdocs serve"
index = "python bin/index_notes.py"
lazy-notes = "python bin/lazy_notes.py"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
